.form__main-title {
  @include font-options($family-oswald, $base-font-size, $base-line-height, $normal-font-weight, $basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 11px 30px 39px 0;
  text-align: left;

  @include tablet {
    font-size: $header-font-size;
    line-height: $tablet-statistics-size;
    padding: 7px 40px 65px;
  }

  @include desktop {
    padding: 8px 80px 66px 0;
  }
}

.form__border-box {
  border: none;
  margin: 0;
  padding: 0;
}

.form__box--base {
  position: relative;

  &::before {
    @include border-mobile-bottom($special-border-grey);

    @include tablet {
      display: none;
    }
  }
}

.form__box--additional {
  overflow-x: hidden;
}

.form__title {
  font-size: $subtitle-font-size;
  line-height: $form-line-height;
  text-align: left;
  padding-bottom: 36px;
  padding-right: 21px;
  background-color: $basic-white;
  position: relative;
  display: inline-block;

  &::before {
    @include border;
    top: 15px;

    @include tablet {
      top: 23px;
      left: $none-padding;
      right: $none-padding;
    }

    @include desktop {
      left: $special-tablet-padding;
    }
  }

  &::after {
    @include tablet {
      @include border;
      right: 0;
      top: 23px;
    }

    @include desktop {
      right: $none-padding;
      top: 23px;
    }
  }

  @include tablet {
    font-size: $heading-font-size;
    line-height: $special-heading-line-height;
    padding: 1px 42px 75px 39px;

    br {
      display: none;
    }
  }

  @include desktop {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.form__item-name {
  @include font-options($family-oswald, $form-font-size, $base-line-height, $normal-font-weight, $special_dark-grey);
  text-transform: uppercase;
  flex-shrink: 0;

  @include tablet {
    font-size: $header-font-size;
    line-height: $special-tablet-link;
  }
}

.form__entry-field {
  @include font-options($family-oswald, $form-font-size, $base-line-height, $normal-font-weight, $special_dark-grey);
  text-transform: uppercase;
  flex-grow: 1;
  width: 0;
  min-height: 46px;
  line-height: 30px;
  box-sizing: border-box;
  border: 1px solid $input-grey;
  margin: 0;
  resize: none;
  padding: 7px 13px;
  box-shadow: none;


  @include tablet {
    min-height: 52px;
    font-size: $header-font-size;
    line-height: $special-tablet-link;
  }

  &::placeholder {
    color: $special_dark-grey;
    opacity: 1;

    @include tablet {
      font-size: $header-font-size;
      line-height: $special-tablet-link;
    }
  }
}

.form__content {
  padding-bottom: 26px;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
    padding-bottom: 0;
  }
}

.form__information-cat {
  @include remove-indentation;
}

.form__item-name--information {
  margin-right: 14px;
  padding-top: 14px;

  @include tablet {
    padding-top: 11px;
    margin-right: 20px;
  }
}

.form__entry-field--information {
  &:invalid:placeholder-shown {
    border: 1px solid $input-grey;
    outline: none;
  }

  &:hover,
  &:invalid:hover,
  &:valid:hover {
    border: 1px solid $border-grey;
    outline: none;
  }

  &:focus,
  &:invalid:focus,
  &:valid:focus {
    border-color: $special_dark-grey;
    outline: 1px solid $special_dark-grey;
  }

  &:invalid {
    border-color: $error-red;
    outline: 1px solid $error-red;
  }

  @include tablet {
    padding: 7px 16px 4px;
  }
}

.form__information-list {
  @include list-default-remove;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;

  @include tablet {
    padding-bottom: 51px;
  }

  @include desktop {
    padding-bottom: 49px;
  }
}

.form__information-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding-bottom: 13px;

  @include tablet {
    padding: 0 36px 21px 40px;
  }

  @include desktop {
    padding: 0 0 20px 2px;
  }
}

.form__goal {
  padding: 21px 12px 5px 0;
  margin: 0;

  @include tablet {
    padding: 0 36px 48px 40px;
  }

  @include desktop {
    padding: 0;
  }
}

.form__goal-list {
  @include list-default-remove;
  @include remove-indentation;

  @include tablet {
    border: 1px solid $border-grey;
    padding: 24px 88px 11px 28px;
  }
}

.form__goal-item {
  padding-bottom: 13px;
}

.form__information-list--person {
  @include tablet {
    padding-bottom: 43px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
    padding-bottom: 47px;
  }
}

.form__item-name--person {
  margin-right: 11px;
  padding-top: 10px;

  @include tablet {
    margin-right: 18px;
    padding-top: 12px;
  }

  @include desktop {
    padding-top: 13px;
    margin-right: 16px;
  }
}

.form__item-name--mail {
  @include desktop {
    margin-right: 21px;
  }
}

.form__entry-field--person {
  &:invalid:placeholder-shown {
    border: 1px solid $input-grey;
    outline: none;
  }

  &:disabled {
    border: 1px solid $special_dark-grey;
  }

  &:invalid {
    border-color: $error-red;
    outline: 1px solid $error-red;
  }

  &:hover,
  &:invalid:hover,
  &:valid:hover {
    border: 1px solid $border-grey;
    outline: none;
  }

  &:focus,
  &:invalid:focus,
  &:valid:focus {
    border-color: $special_dark-grey;
    outline: 1px solid $special_dark-grey;
  }

  @include tablet {
    padding: 8px 38px 3px 22px;
  }

  @include desktop {
    padding: 11px 43px 11px 18px;
  }
}

.form__entry-field--tel {
  @include tablet {
    padding-left: 14px;
  }

  @include desktop {
    margin: 0;
  }
}

.form__information-social {
  position: relative;
}

.form__information-picture {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  right: 14px;
  pointer-events: none;
  fill: currentColor;

  @include tablet {
    top: 16px;
    right: 53px;
  }

  @include desktop {
    right: 16px;
  }

  &--mail {
    @include tablet {
      top: 19px;
    }

    @include desktop {
      right: 21px;
    }
  }
}

.form__entry-field--person:disabled + .form__information-picture {
  color: $basic-green;
}

.form__entry-field--person:invalid:placeholder-shown + .form__information-picture {
  color: $special_dark-grey-2;
}

.form__entry-field--person:invalid + .form__information-picture {
  color: $error-red;
}

.form__information-item--comment {
  padding-bottom: 24px;

  @include tablet {
    padding-bottom: 64px;
  }

  @include desktop {
    padding-bottom: 66px;
  }
}

.form__entry-field--comment {
  resize: none;
  min-height: 151px;
  padding: 4px 13px;
  margin-top: 1px;

  &:hover {
    border: 1px solid $border-grey;
    outline: none;
  }

  &:focus {
    border-color: $special_dark-grey;
    outline: 1px solid $special_dark-grey;
  }

  @include tablet {
    min-height: 175px;
    padding: 11px 17px;
  }
}

.form__filed-radio:checked + .form__item-name--radio::before {
  background-color: $basic-green;
  background-clip: content-box;
  padding: 8px;

  @include tablet {
    padding: 10px;
  }
}

.form__filed-radio:disabled + .form__item-name--radio {
  opacity: 0.3;
}

.form__filed-radio:focus + .form__item-name--radio::before,
.form__filed-radio:hover + .form__item-name--radio::before {
  @include tablet {
    border: 1px solid $hover-grey;
  }
}

.form__item-name--radio {
  color: $special_dark-grey-2;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 30px;
  padding-left: 45px;

  &::before {
    position: absolute;
    content: "";
    border: 1px solid $border-grey;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  @include tablet {
    min-height: 40px;
    padding-left: 60px;
  }
}

.form__title--extra {
  padding-bottom: 33px;
}

.form__extra-list {
  @include list-default-remove;
  @include remove-indentation;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;

  @include tablet {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1px 8px 47px 9px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    padding: 0;
    grid-column-gap: 78px;
    padding-bottom: 54px;
  }
}

.form__extra-item {
  padding: 0 45px 12.7px 0;

  @include tablet {
    padding: 24px 33px 7px 30px;
  }

  @include desktop {
    padding: 25px 14px 7px 0;
  }
}

.form__item-name--extra {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 30px;
  position: relative;
  padding-left: 45px;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $border-grey;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  @include tablet {
    min-height: 40px;
    padding-left: 59px;
  }
}

.form__filed-checkbox:checked + .form__item-name--extra::before {
  background-image: url("../img/checked.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.form__filed-checkbox:disabled + .form__item-name--extra {
  opacity: 0.3;
}

.form__filed-checkbox:focus + .form__item-name--extra::before,
.form__filed-checkbox:hover + .form__item-name--extra::before {
  @include tablet {
    border: 1px solid $hover-grey;
  }
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 71px;
    padding-bottom: 72px;
  }

  @include desktop {
    padding-left: 31px;
    padding-bottom: 82px;
  }
}

.form__button {
  display: inline-block;
  min-height: 40px;
  margin-bottom: 21px;

  @include font-options($family-oswald, $form-font-size, $header-line-height, $normal-font-weight, $basic-white);
  text-transform: uppercase;
  background-color: $basic-green;
  border: none;

  @include tablet {
    font-size: $header-font-size;
    line-height: $special-tablet-link;
    min-height: 52px;
    width: 85%;
    margin: 0;
  }

  @include desktop {
    width: 93%;
  }
}

.form__subtitle {
  @include font-options($family-arial, $base-font-size, $special-line-height, $normal-font-weight, $basic-black);
  margin: 0;
  text-align: center;
  padding-bottom: 30px;

  @include tablet {
    text-align: start;
    font-size: $form-font-size;
    line-height: $special-line-height;
    padding: 16px 9px;
  }

  @include desktop {
    padding: 16px 41px;
  }
}
