.header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  position: relative;
  overflow-x: hidden;

  &::after {
    @include border-mobile-bottom($mobile-border-grey);

    @include tablet {
      display: none;
    }
  }

  @include tablet {
    min-height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 11px;
  }

  @include desktop {
    min-height: 147px;
    position: relative;
    z-index: 2;

    padding-top: 24px;
  }
}

.header__logo {
  min-height: 35px;
  padding-bottom: 12px;
  margin-right: auto;

  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    &:hover,
    &:focus {
      opacity: 80%;
      outline: none;
    }

    &:active {
      opacity: 60%;
    }
  }

  @include desktop {
    padding: 0;
  }
}

.header__navigation {
  @include desktop {
    flex-basis: 42.5%;
  }
}
