.header__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  @include tablet {
    min-height: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop{
    min-height: 147px;
    position: relative;
    z-index: 2;
  }
}
.header__logo {
  min-height: 35px;
  padding-bottom: 12px;
  @include tablet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

  }
}
