.navigation__toggle {
  @include remove-indentation;
  position: absolute;
  top: 13px;
  right: 10px;
  z-index: 2;
  height: 34px;
  width: 45px;
  background-color: transparent;
  border: 0;

  @include tablet {
    display: none;
  }
}

.navigation--closed .navigation__toggle-content {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  width: 36px;
  height: 2px;
  background-color: $basic-black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -10px);
    width: 36px;
    height: 2px;
    background-color: $basic-black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 10px);
    width: 36px;
    height: 2px;
    background-color: $basic-black;
  }
}

.navigation--opend .navigation__toggle-content {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%) rotate(45deg);
  width: 25px;
  height: 2px;
  background-color: $basic-black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(45%) rotate(90deg);
    width: 25px;
    height: 2px;
    background-color: $basic-black;
  }
}

.navigation__list {
  @include list-default-remove;
  @include remove-indentation;
  margin-bottom: 2px;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 20px;
  }

  @include desktop {
    padding-top: 4px;
  }
}

.navigation__item {
  position: relative;

  &::before {
    @include border-mobile($mobile-border-grey);
  }

  @include tablet {
    &::before {
      display: none;
    }
  }
}

.navigation__link {
  @include font-options($family-oswald, $header-font-size, $header-line-height, $bold-font-weight, $basic-black);
  @include link-default-remove($basic-black);
  text-transform: uppercase;
  text-align: center;
  min-height: 65px;
  display: grid;
  align-items: center;
  padding: 5px 15px;

  @include tablet {
    min-height: auto;
    padding: 0;
    font-weight: $normal-font-weight;
    font-size: 18px;
    line-height: $number-line-height;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 36px;
    padding-bottom: 6px;
    border: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include desktop {
    font-size: $header-font-size;
    line-height: $special-tablet-link;
    z-index: 1;

    &--index {
      color: $basic-white;
    }
  }

  &:not([href]) {
    @include tablet {
      border-bottom: 1px solid $basic-green;
    }
  }

  &--index:not([href]) {
    @include desktop {
      border-bottom: 1px solid $basic-white;
    }
  }
}
