.nutrition-program__list {
  @include list-default-remove;
  @include remove-indentation;
  display: grid;
  grid-template-columns: 1fr;
  gap: 21px;

  @include tablet {
    gap: 29px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    gap: 79px;
  }
}

.nutrition-program__item {
  background-image: url("../img/cat_slim.svg");
  background-repeat: no-repeat;
  background-size: 50px 53px;
  background-position: 22px 21px;
  padding: 9px 20px 20px;
  background-color: $basic-grey;

  @include tablet {
    background-size: 200px 211px;
    background-position: 88% 79px;
    padding: 75px 38% 23px 53px;
  }

  @include desktop {
    background-size: 100px 106px;
    background-position: 53px 41px;
    padding: 77px 56px 1px 52px;
  }
}

.nutrition-program__item--after {
  background-image: url("../img/cat_pro.svg");
  background-size: 67px 50px;
  background-position: 13px 24px;

  @include tablet {
    background-size: 268px 200px;
    background-position: 93% 90px;
    padding: 75px 44% 23px 53px;
  }

  @include desktop {
    background-size: 134px 100px;
    background-position: 33px 47px;
    padding: 77px 56px 1px 52px;
  }
}

.nutrition-program__program {
  background-color: $basic-grey;
}

.nutrition-program__title {
  @include font-options($family-oswald, $subtitle-font-size, $subtitle-line-height, $normal-font-weight, $basic-black);
  text-transform: uppercase;
  margin: 0;
  padding: 20px 22px 30px 72px;

  @include tablet {
    font-size: $heading-font-size;
    line-height: $special-heading-line-height;
    padding: 0;
    padding-bottom: 27px;
  }

  @include desktop {
    padding: 0 93px 75px 162px;
  }
}

.nutrition-program__content {
  margin: 0;
  padding-bottom: 22px;

  @include tablet {
    font-size: $form-font-size;
    line-height: $number-line-height;
    padding: 0;
    padding-bottom: 52px;
  }

  @include desktop {
    padding-bottom: 27px;
  }
}

.nutrition-program__link {
  @include font-options($family-oswald, $form-font-size, $special-line-height, $normal-font-weight, $basic-black);
  @include link-default-remove($basic-black);
  border-top: 1px solid $special-border-grey;
  text-transform: uppercase;
  min-height: 24px;
  padding: 19px 51px 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  @include tablet {
    font-size: $header-font-size;
    line-height: $special-tablet-link;
    padding: 0;
    padding-bottom: 35px;
    border: none;

    &:hover {
      .nutrition-program__link-text::before {
        background-image: url("../img/arrow-hov.svg");
        width: 32px;
        height: 13px;
      }
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include desktop {
    padding-bottom: 55px;
  }
}

.nutrition-program__link-text {
  margin: 0;
  margin-right: 15px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    top: 25%;
    right: -56px;
    width: 32px;
    height: 13px;
  }

  @include tablet {
    margin-right: 24px;
  }

  @include desktop {
    margin-right: 28px;
  }
}
