//Color
$basic-white: #ffffff;
$basic-black: #000000;
$special_dark-grey: #444444;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$border-grey: #cdcdcd;
$special-black: #111111;
$special_dark-grey-2: #222222;
$special-border-grey: #d9d9d9;

//Font
$family-oswald: "Oswald", "Arial", sans-serif;
$family-arial: "Arial", sans-serif;
$bold-font-weight: 500;
$normal-font-weight: 400;
$header-font-size: 20px;
$header-line-height: 20px;
$base-font-size: 14px;
$text-line-height: 14px;
$base-line-height: 18px;
$heading-font-size: 36px;
$special-heading-line-height: 36px;
$heading-line-height: 40px;
$subtitle-font-size: 24px;
$subtitle-line-height: 37px;
$number-line-height: 24px;
$min-font-size: 12px;
$min-line-height: 12px;
$form-font-size: 16px;
$form-line-height: 26px;
$special-line-height: 16px;
